/* font-family: "RalewayRegular"; */
@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
  url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
///* font-family: "RalewayThin"; */
//@font-face {
//  font-family: "RalewayThin";
//  src: url("../fonts/RalewayThin/RalewayThin.eot");
//  src: url("../fonts/RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
//  url("../fonts/RalewayThin/RalewayThin.woff") format("woff"),
//  url("../fonts/RalewayThin/RalewayThin.ttf") format("truetype");
//  font-style: normal;
//  font-weight: normal;
//}
///* font-family: "RalewayExtraLight"; */
//@font-face {
//  font-family: "RalewayExtraLight";
//  src: url("../fonts/RalewayExtraLight/RalewayExtraLight.eot");
//  src: url("../fonts/RalewayExtraLight/RalewayExtraLight.eot?#iefix")format("embedded-opentype"),
//  url("../fonts/RalewayExtraLight/RalewayExtraLight.woff") format("woff"),
//  url("../fonts/RalewayExtraLight/RalewayExtraLight.ttf") format("truetype");
//  font-style: normal;
//  font-weight: normal;
//}
///* font-family: "RalewayLight"; */
//@font-face {
//  font-family: "RalewayLight";
//  src: url("../fonts/RalewayLight/RalewayLight.eot");
//  src: url("../fonts/RalewayLight/RalewayLight.eot?#iefix")format("embedded-opentype"),
//  url("../fonts/RalewayLight/RalewayLight.woff") format("woff"),
//  url("../fonts/RalewayLight/RalewayLight.ttf") format("truetype");
//  font-style: normal;
//  font-weight: normal;
//}
///* font-family: "RalewayMedium"; */
//@font-face {
//  font-family: "RalewayMedium";
//  src: url("../fonts/RalewayMedium/RalewayMedium.eot");
//  src: url("../fonts/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
//  url("../fonts/RalewayMedium/RalewayMedium.woff") format("woff"),
//  url("../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
//  font-style: normal;
//  font-weight: normal;
//}
/* font-family: "RalewaySemiBold"; */
@font-face {
  font-family: "RalewaySemiBold";
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot");
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"),
  url("../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RalewayBold"; */
@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/RalewayBold/RalewayBold.eot");
  src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RalewayBold/RalewayBold.woff") format("woff"),
  url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
///* font-family: "RalewayExtraBold"; */
//@font-face {
//  font-family: "RalewayExtraBold";
//  src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot");
//  src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot?#iefix")format("embedded-opentype"),
//  url("../fonts/RalewayExtraBold/RalewayExtraBold.woff") format("woff"),
//  url("../fonts/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
//  font-style: normal;
//  font-weight: normal;
//}
///* font-family: "RalewayBlack"; */
//@font-face {
//  font-family: "RalewayBlack";
//  src: url("../fonts/RalewayBlack/RalewayBlack.eot");
//  src: url("../fonts/RalewayBlack/RalewayBlack.eot?#iefix")format("embedded-opentype"),
//  url("../fonts/RalewayBlack/RalewayBlack.woff") format("woff"),
//  url("../fonts/RalewayBlack/RalewayBlack.ttf") format("truetype");
//  font-style: normal;
//  font-weight: normal;
//}

@mixin rr($size:14px) {
  font-family: "RalewayRegular",Helvetica, sans-serif;
  font-size: $size;
}
@mixin rb($size:14px) {
  font-family:  "RalewayBold",Helvetica, sans-serif;
  font-size: $size;
}
@mixin rsb($size:14px) {
  font-family:  "RalewaySemiBold",Helvetica, sans-serif;
  font-size: $size;
}
//@mixin abi($size:14px) {
//  font-family: "ArimoBoldItalic";
//  font-size: $size;
//}
//@mixin ai($size:14px) {
//  font-family: "ArimoItalic";
//  font-size: $size;
//}
//@mixin cb($size:14px) {
//  font-family: "Calibri";
//  font-size: $size;
//  font-weight: bold;
//}
