@import "compass/css3";
@import "compass/css3/selection";
@import "reset.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "slick.scss";
@import "slick-theme.scss";
//@import "modals.scss";
$red: #c51335;
$blue: #2fceca;
$yellow: #ffca10;
$darkgrey:#222222;
body{
  @include rb(14px);
}
.wrapper {
  @extend %wrapper;
}
.inner {
  @extend %inner;
}
.header {
  height: 80px;
  padding-top:15px;
  &__wrapper{
    height: 80px;
    @include box-shadow(0 0 10px 10px rgba(#000, .3));
    z-index: 1;
    opacity: .9999;
  }
  &__logo {
    float: left;
  }
  &__link {
    text-decoration: none;
    font-size:20px;
    color: #fff;
    &:hover {
      text-decoration: underline;
      color: #fff;
    }
  }
  &__phone {
    float: right;
    width: 200px;
    @include rb(18px);
    line-height: 50px;
  }
  &__buttonbox{
    float: right;
    width: 175px;
    color: #fff;
    text-align: center;
    @include rsb(14px);
    &__button {
      display: block;
      width: 100%;
      height: 40px;
      @include rb(18px);
      border-radius: 5px;
      color: #fff;
      background: transparent;
      border: 2px solid $yellow;
      cursor: pointer;
      text-align: center;
      position: relative;
      overflow: hidden;
      margin-bottom: 5px;
      @include transition(color .2s ease-out);
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: $yellow;
        border-bottom: 2px solid $yellow;
        top: -100%;
        left: 0;
        @include transition(all .2s ease-out);
      }
      &:before {
        content: attr(data-content);
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 2;
        top:0;
        left: 0;
        line-height: 38px;
      }
      &:hover {
        color: $darkgrey;
        &:after {
          top: 0%;
        }
      }
      &:active {
        @include box-shadow(0 0 10px 0 rgba(darken($red, 10%), .8) inset);
      }
    }
  }
}

.scr-i {
  position: relative;
  height: 600px;
  &__wrapper {
    //height: 515px;
    background: url(../img/1.jpg) 50% 0 no-repeat;
    background-size: cover;
    text-align: center;
  }
  &__title {
    display: block;
    @include rsb(42px);
    color: #fff;
    line-height: 50px;
    margin-top: 55px;
  }
  &__subtitle {
    display: block;
    @include rsb(24px);
    color: $yellow;
    line-height: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  &__form-wrapper {
    width: 100%;
    margin-top: 100px;
  }
  &__form-title {
    display: block;
    @include rsb(43px);
    color: #fff;
    text-align: center;
    padding: 20px 20px 0;
    line-height: 35px;
  }
  &__form-subtitle {
    display: block;
    @include rsb(18px);
    color: #fff;
    text-align: center;
    padding: 20px 20px 0;
    line-height: 35px;
  }
  &__descr {
    color: $darkgrey;
    text-align: center;
    margin-top: 5px;
  }
  &__input-wrapper {
    margin:10px 5px 10px;
    width: 240px;
    display: inline-block;
    position: relative;
    label.error{
      position: absolute;
      font-size: 12px;
      left: 18px;
      color: $red;
    }
    &:last-child{
      display: block;
      width: 100%;
    }
  }
  &__input {
    display: block;
    width: 100%;
    @include rb(14px);
    color: #fff;
    height: 40px;
    line-height: 38px;
    padding:0 15px;
    background-color: #000;
    border: 2px solid $yellow;
    border-radius: 5px;
    @include transition(all .2s ease-out);
    @include input-placeholder {
      color: #fff;
    }
    &:focus {
      @include box-shadow(0 0 4px rgba(#000, .4));
    }
  }
  &__button {
    display: block;
    width: 240px;
    margin: 0 auto;
    height: 40px;
    @include rb(18px);
    color: $darkgrey;
    background: transparent;
    border-radius: 5px;
    border: 2px solid $yellow;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    @include transition(color .2s ease-out);
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: $yellow;
      border-bottom: 2px solid $yellow;
      top: 0;
      left: 0;
      @include transition(all .2s ease-out);
    }
    &:before {
      content: attr(data-content);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 2;
      top: 0;
      left: 0;
      line-height: 38px;
    }
    &:hover {
      color: $yellow;
      &:after {
        top: 100%;
      }
    }
    &:active {
      @include box-shadow(0 0 10px 0 rgba(darken($red, 10%), .8) inset);
    }
  }
}

.scr-ii{
  &__wrapper{
    height: 320px;
    background-color: $yellow;
    padding: 60px 0 0;
    text-align: center;
  }
  &__egg{
    display: inline-block;
    vertical-align: top;
    margin: 0 12px;
    width: 169px;
    cursor: pointer;
    font-size: 16px;
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
    &:hover p{
      text-decoration: underline;
    }
    img{
      width:100%;
      margin-bottom: 20px;
    }
  }
}



.scr-front{
  &__triangle{
    content: '';
    height: 100px;
    border-width: 100px 49vw 0;
    border-style: solid;
    border-color: $yellow transparent;
  }
  &__wrapper{
    text-align: center;
    padding: 0 0 60px;
    background: url("../img/2.jpg") no-repeat top center;
    background-size: cover;
  }
  &__title{
    @include rb(30px);
    color: $yellow;
    padding-top: 60px ;
    margin-bottom: 50px;
  }

}


.flipster{
  overflow: hidden;
  margin-bottom: 15px;
  &__button svg{
    stroke: $yellow;
  }
  &__item{
    vertical-align: top;
    &__content {
      position: relative;
      //&.lazy {
      //  width: 750px;
      //  height: 500px;
      //}
    }
  }
  &__nav {
    width: 100%;
    background: rgba($darkgrey, .8);
    font-size: 0;
    &__child{
      display: none !important;
    }
    &__item {
      width: 14%;
      font-size: 14px;
      position: relative;
      margin: 0;
      &:after {
        width: 100%;
        height: 3px;
        display: block;
        background: #fff;
        content: '';
        bottom: -3px;
      }
      &:hover:after {
        background: #FFF063;
      }
      &--current {
        color: $yellow;
        &:after {
          background: $yellow;
        }
        a {
          color: $yellow !important;
        }
      }
    }
    &__link {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #FFF063;
      }
    }
  }
}

.scr-side{

}





.scr-form{
  &__wrapper{
    background-color: $yellow;
    padding: 50px 0;
    text-align: center;
  }
  &__title{
    @include rb(30px);
    color: $darkgrey;
    margin-bottom: 30px;
  }
  &__input-wrapper {
    margin:10px 5px 10px;
    width: 240px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    label.error{
      position: absolute;
      font-size: 12px;
      left: 18px;
      color: $red;
    }
  }
  &__input {
    display: block;
    width: 100%;
    @include rb(14px);
    height: 40px;
    line-height: 38px;
    padding: 0 15px;
    border-radius: 5px;
    border: none;
    @include transition(all .2s ease-out);
    @include input-placeholder {
      color: $darkgrey;
    }
    &:focus {
      @include box-shadow(0 0 4px rgba(#000, .4));
    }
  }
  &__button {
    display: block;
    width: 240px;
    margin: 0 auto;
    height: 40px;
    @include rb(16px);
    color: #fff;
    background: $yellow;
    border-radius: 5px;
    border: 2px solid $darkgrey;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    @include transition(color .2s ease-out);
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: $darkgrey;
      //border-bottom: 2px solid $yellow;
      top: 0;
      left: 0;
      @include transition(all .2s ease-out);
    }
    &:before {
      content: attr(data-content);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 2;
      top: 0;
      left: 0;
      line-height: 38px;
    }
    &:hover {
      color: $darkgrey;
      &:after {
        top: 100%;
      }
    }
    &:active {
      @include box-shadow(0 0 10px 0 rgba(darken($red, 10%), .8) inset);
    }
  }
}
.dollar{
  opacity: 0;
}
.flipster__item--current .dollar{
  display: block;
  position: absolute;
  bottom:15px;
  left: 0;
  right:0;
  text-shadow: 0 0 7px #000;
  color: $yellow;
  padding: 10px;
  font-size: 23px;
  opacity: 1;
  //@include transition-duration(0.5s);
}
.scr-form2{
  &__wrapper{
    background: url("../img/bg-form.jpg")no-repeat top center;
    background-size: cover;
    padding: 70px 0;
    text-align: center;
  }
  &__title{
    @include rb(30px);
    color: #fff;
    margin-bottom: 30px;
  }
  &__input-wrapper {
    margin:10px 5px 10px;
    width: 240px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    label.error{
      position: absolute;
      font-size: 12px;
      left: 18px;
      color: $red;
    }
    &:last-child{
      display: block;
      width: 100%;
    }
  }
  &__input {
    display: block;
    width: 100%;
    color: #fff;
    background: transparent;
    @include rb(14px);
    height: 40px;
    line-height: 38px;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #fff;
    @include transition(all .2s ease-out);
    @include input-placeholder {
      color: #fff;
      background: transparent;
    }
    &:focus {
      @include box-shadow(0 0 4px rgba(#000, .4));
    }
  }
  &__button {
    @extend .scr-i__button;
  }
}

.scr-video{
  &__wrapper{
    text-align: center;
    padding: 60px 0;
    background: $yellow;
  }
  &__title{
    @include rb(30px);
    color: $darkgrey;
    margin-bottom: 30px;
  }
}

#carousel-video {
  .flipster__button--prev {
    left: -20px;
  }
  .flipster__button--next {
    right: -20px;
  }
  .flipster__button svg {
    stroke: #fff;
  }
}

.scr-how{
  &__wrapper{
    text-align: center;
    padding: 60px 0;
    background: $yellow;
  }
  &__title{
    @include rb(30px);
    color: $darkgrey;
    margin-bottom: 30px;
  }
  &__img{
    background: url("../img/shema.png") no-repeat top center;
    width: 846px;
    margin: 0 auto;
    content: '';
    display: block;
    height: 316px;
  }
}

.scr-sklad {
  &__wrapper {
    background: url("../img/bg-sklad.jpg") no-repeat top center;
    background-size: cover;
    padding: 50px 0 100px;
    text-align: center;
  }
  &__title{
    @include rsb(26px);
    margin-bottom: 30px;
    color: #fff;
  }
  &__col {
    float: left;
    width: 65%;
    text-align: center;
    .slider_sklad{
      width: 483px;
      height: 386px;
      margin: 0 auto;
      img{
        border: 3px solid #fff;
        border-radius: 3px;
        height: 386px;
      }
      .slick-prev, .slick-next{
        background: url("../img/arroww.png");
        width: 31px;
        height: 31px;
        top: 57%;
      }
      .slick-prev{
        left: -80px;
        @include rotate(180deg);
      }
      .slick-next{
        right: -50px;
      }
      .slick-dots li{
        margin: 0 3px;
        &.slick-active button:before{
          opacity: 1;
          color: $yellow;
        }
        button:before{
          opacity: 1;
          color: #fff;
          font-size:60px;
        }
      }
    }
  }
  &__col2 {
    float: left;
    width: 35%;
    text-align: center;
    padding: 0 20px;
  }
  &__radio-wrapper{
    width: 100%;
    height:50px;
    text-align: center;
    margin: 0 auto 15px;
    label{
      width: 55px;
      cursor: pointer;
      height: 60px;
      display: inline-block;
      margin: 5px;
      vertical-align: middle;
      text-align: left;
      content: '';
      background: url("../img/whatsapp.png") no-repeat center;
      background-size: contain;
    }
    [for="viber"]{
      background: url("../img/viber.png") no-repeat center;
      background-size: contain ;
    }
    #whatsapp:checked ~ [for="whatsapp"] {
      background: rgba($yellow,.3) url("../img/whatsapp.png") no-repeat center;
      box-shadow: 0 0 10px rgba($yellow,.5),
    }
    #viber:checked ~ [for="viber"] {
      background: rgba($yellow,.3) url("../img/viber.png") no-repeat center;
      box-shadow: 0 0 10px rgba($yellow,.5),
    }
  }
  &__radio{
    display: none;
  }
  &__form{
    &__wrapper{
      margin: 60px auto 0;
      width: 300px;
      background: rgba($darkgrey,.8);
      padding:30px 0;
    }
    &__title{
      @include rsb(18px);
      color: #fff;
      margin-bottom: 5px;
    }
    &__subtitle{
      @include rsb(14px);
      color: #fff;
      margin-bottom: 10px;
    }
    &__input-wrapper {
      @extend .scr-i__input-wrapper;
      width: 70%;
      margin: 10px auto;
      label.error{
        position: absolute;
        font-size: 11px;
        left: 0;
        line-height: 16px;
        color: $red;
      }
    }
    &__input {
      @extend .scr-i__input;
      @include transition(all .2s ease-out);
      @include input-placeholder {
        color: #666666;
        @include rsb(14px);
      }
    }
    &__button {
      @extend .scr-i__button;
      width: 212px;
    }
  }
}

.scr-cons{
  &__wrapper{
    text-align: center;
    padding: 60px 0;
    background: $darkgrey;
  }
  &__title{
    @include rb(30px);
    color: #fff;
    margin-bottom: 30px;
  }
  &__input-wrapper{
    @extend .scr-form__input-wrapper
  }
  &__input{
    @extend .scr-form__input;
  }
  &__button{
    @extend .scr-form2__button;
  }
}


.scr-logo {
  &__wrapper {
    text-align: center;
    padding: 60px 0 80px;
    background: $yellow;
    height: 570px;
  }
  &__title {
    @include rb(30px);
    color: #fff;
    margin-bottom: 20px;
  }
  &__subtitle {
    @include rb(24px);
    color: $darkgrey;
    margin-bottom: 50px;
  }
  &__slide-box{
    margin: 0 auto;
    width: 760px;
    height: 320px;
    //display: none;
  }
  &__slider-item{
  }
  &__form{
    display: none;
  }
  &__chbox-wrapper{
    width: 600px;
    text-align: center;
    margin: 0 auto 15px;
    label{
      width: 280px;
      height: 64px;
      display: inline-block;
      margin: 5px;
      border-radius: 5px;
      vertical-align: middle;
      text-align: left;
      border: 2px solid $darkgrey;
      &:before{
        display: inline-block;
        vertical-align: middle;
        height: 60px;
        width: 70px;
        content: '';
        background: url("../img/car.png") no-repeat;
        background-position:  0px 0;
      }
    }
    [for="checkbox2"]:before {
      background-position:  -70px 0;
    }
    [for="checkbox3"]:before {
      background-position:  -140px 0;
    }
    [for="checkbox4"]:before {
      background-position:  -210px 0;
    }
    #checkbox1:checked ~ [for="checkbox1"] {
      box-shadow: 0 0 20px #000;
    }
    #checkbox2:checked ~ [for="checkbox2"] {
      box-shadow: 0 0 20px #000;
    }
    #checkbox3:checked ~ [for="checkbox3"] {
      box-shadow: 0 0 20px #000;
    }
    #checkbox4:checked ~ [for="checkbox4"] {
      box-shadow: 0 0 20px #000;
    }
  }
  &__checkbox{
    display: none;
  }
  &__input-wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    label {
      display: inline-block;
      vertical-align: middle;
      width: 200px;
      text-align: right;
      margin-right: 15px;
    }
    label.error {
      position: absolute;
      font-size: 12px;
      left: 34%;
      bottom: -14px;
      color: #c51335;
      width: 300px;
    }
  }
  &__input{
    @extend .scr-form__input;
    display: inline-block;
    vertical-align: middle;
    width: 200px;
  }
  &__back{
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    background: url("../img/arrow-right.png") no-repeat center;
    background-size: cover;
    cursor: pointer;
    content: '';
  }
  &__button{
    @extend .scr-form__button;
    width: 150px;
    display: inline-block;
    vertical-align: middle;
  }
}
.hex {
  float: left;
  margin-left: 3px;
  margin-bottom: -26px;
  img{
    width: 80%;
  }
  &:hover .middle{
    background: #e1dfd0;
  }
  &:hover .top{
    border-bottom: 30px solid #e1dfd0;
  }
  &:hover .bottom{
    border-top: 30px solid #e1dfd0;
  }
  &:active .middle{
    background: #b7b5a7;
  }
  &:active .top{
    border-bottom: 30px solid #b7b5a7;
  }
  &:active .bottom{
    border-top: 30px solid #b7b5a7;
  }
}
.hex .top {
  width: 0;
  border-bottom: 30px solid #fff;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  content: '';
}
.hex .middle {
  width: 104px;
  height: 60px;
  background: #fff;
  content: '';
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.hex .bottom {
  width: 0;
  border-top: 30px solid #fff;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  content: '';
}
.hex-row {
  clear: left;
}
.hex-row.even {
  margin-left: 53px;
}




.scr-deliv{
  &__wrapper{
    text-align: center;
    padding: 60px 0 80px;
    background: url("../img/bg-6.jpg") no-repeat top center;
    background-size: cover;
  }
  &__title{
    @include rb(30px);
    color: #fff;
    margin-bottom: 50px;
  }
  &__img{
    display: inline-block;
    vertical-align: top;
    width: 460px;
  }
  &__form{
    display: inline-block;
    vertical-align: top;
    float: right;
    width: 440px;
    padding: 55px 0;
    background-color: #111111;
    &-title{
      font-size: 24px;
      color: #fff;
      margin-bottom: 20px;
    }
    &-subtitle{
      font-size: 18px;
      color: $yellow;
      margin-bottom: 20px;
    }
    &-input-wrapper{
      width: 240px;
      margin: 20px auto 0;
      position: relative;
      label.error{
        position: absolute;
        font-size: 12px;
        left: 18px;
        color: $red;
      }
    }
    &-input{
      @extend .scr-form__input;
    }
    &-button{
      @extend .scr-form2__button;
    }
  }
}

.scr-question{
  &__wrapper{
    text-align: center;
    padding: 60px 0 60px;
    background: url("../img/4.jpg") no-repeat center;
    background-size: cover;
  }
  &__title{
    @include rb(30px);
    color: #fff;
    margin-bottom: 50px;
  }
  &__link{
    img{
      display: inline-block;
      vertical-align: middle;
    }
    a{
      display: inline-block;
      vertical-align: middle;
      color: $yellow;
    }
  }
  &__form{
    width: 500px;
    padding: 30px 60px;
    margin:  0 auto;
    background-color: rgba($darkgrey,.9);
    &-title{
      font-size: 24px;
      color: $yellow;
      margin-bottom: 10px;
    }
    &-subtitle{
      color: #fff;
      margin-bottom: 10px;
    }
    &-input-wrapper{
      width: 100%;
      margin: 20px auto 0;
      position: relative;
      label.error{
        position: absolute;
        font-size: 12px;
        left: 18px;
        color: $red;
      }
    }
    &-textarea{
      width: 100%;
      padding: 10px;
      @include input-placeholder {
        color: $darkgrey;
      }
    }
    &-input{
      @extend .scr-form__input;
      width: 100%;
      border-radius: 0;
    }
    &-button{
      @extend .scr-form2__button;
      border-radius: 2px;
    }
  }
}


.scr-sto{
  &__wrapper{
    background-color: $yellow;
    padding: 50px 0;
    text-align: center;
    .flipster__button svg{
      stroke: #000000;
    }
  }
  &__title{
    @include rsb(26px);
    margin-bottom: 10px;
  }
  &__subtitle{
    color: #fff;
    @include rsb(18px);
    margin-bottom: 30px;
  }
}


.tabs {
  position: relative;
  margin-top: 40px;
}
.tabs-nav {
  width:  100%;
  margin: 0 auto;
  @include clearfix;
  z-index: 1;
  background: #fff;
  :after{
    width: 100%;
    height: 3px;
    content: '';
    display: block;
    background: $blue;
    position: relative;
    bottom: 5px;
  }
  &__item {
    display: inline-block;
    width: 33%;
    height: 40px;
    @include rr(22px);
    color: $blue;
    background: #fff;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    @include transition(color .1s ease-out);
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: $blue;
      border-bottom: 2px solid #21acb1;
      bottom: -100%;
      left: 0;
      @include transition(all .1s ease-out);
    }
    &:before {
      content: attr(data-content);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 2;
      top: 0;
      left: 0;
      line-height: 38px;
      color: $darkgrey;
    }
    &:hover:after {
      bottom: -86%;
      border-radius: 4px;
    }
    &:active:after {
      bottom: 0;
    }
  }
  &__item.active{
    &:after{
      bottom:0;
    }
    &:before{
      color: #fff;
    }
  }
}
.tabs-content {
  position: relative;
  width: 100%;
  margin-top: -5px;
  &__item {
    @include clearfix;
    display: none;
    &.active {
      display: block;
    }
  }
}
.tab {
  @include clearfix;
}
.owl-img.owl-carousel{
  .lazyOwl{
    width: 100%;
  }
}
.owl-img-preview{
  width: 80% !important;
  margin: -140px auto 0 auto;
  img{
    width: 100px;
    height: 100px;
    border: 9px solid rgba($blue, .7);
    margin: 0 auto;
    @include border-radius(50%);
    overflow: hidden;
    cursor: pointer;
  }
  p{
    display: block;
    text-align: center;
    @include rb(14px);
    color: #fff;
    padding-bottom: 5px;
  }
  .prev{
    text-align: center;
  }
}
.owl-controls .owl-page, .owl-controls .owl-buttons div{
  background: url("../img/arrow.png") no-repeat  ;
  width:30px;
  height: 60px;
  position: absolute;
  bottom:60px;
  z-index: 5;
  left: 60px;
}
.owl-next{
  right: 60px;
  left: auto !important;
  @include transform(rotate(-180deg));
}



.scr-vi{
  &__wrapper{
    width: 100%;
    overflow: hidden;
  }
  &__rotate{
    margin: 7% -20% 0 -20%;
    padding: 0 20%;
    width: 140%;
    @include transform(rotate(-7deg));
    background: $blue;
  }
  &__inner{
     @include transform(rotate(7deg));
   }
  &__title{
    //@extend .scr-iii__title;
    color: #fff;
    padding-bottom: 35px;
  }
  &__videoframe{
    display: block;
    margin: 0 auto 90px;
  }
}


@import "modals.scss";
@import "ui.scss";
@import "preloader.scss";
