$screenWidth: 960px;
$wrapperPadding: 0px;
$large: 959px;
$small: 500px;
@mixin clearfix {
  &:after {
    display: table;
    content: "";
    clear: both;
  }
}
@mixin response($media) {
  @if $media == tablet {
    @media only screen and (max-width: $large) { @content; }
  }
  @else if $media == iphone {
    @media only screen and (max-width: $small) { @content; }
  }
}
%wrapper {
  width: 100%;
  @include clearfix;
}
%inner {
  width: $screenWidth;
  padding: 0 $wrapperPadding;
  margin: 0 auto;
  //border-right: 1px solid #f00;
  //border-left:  1px solid #f00;
  @include clearfix;
}
//HEXAGON START
//@mixin hex{
//  .hexagon {
//    position: relative;
//    width: 175px;
//    height: 101.04px;
//    margin: 50.52px 0;
//    background-image: url(http://csshexagon.com/img/meow.jpg);
//    background-size: auto 190.5256px;
//    background-position: center;
//    border-left: solid 5px #333333;
//    border-right: solid 5px #333333;
//  }
//
//  .hexTop,
//  .hexBottom {
//    position: absolute;
//    z-index: 1;
//    width: 123.74px;
//    height: 123.74px;
//    overflow: hidden;
//    -webkit-transform: scaleY(0.5774) rotate(-45deg);
//    -ms-transform: scaleY(0.5774) rotate(-45deg);
//    transform: scaleY(0.5774) rotate(-45deg);
//    background: inherit;
//    left: 20.63px;
//  }
//
//  /*counter transform the bg image on the caps*/
//  .hexTop:after,
//  .hexBottom:after {
//    content: "";
//    position: absolute;
//    width: 165.0000px;
//    height: 95.26279441628826px;
//    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-47.6314px);
//    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-47.6314px);
//    transform:          rotate(45deg) scaleY(1.7321) translateY(-47.6314px);
//    -webkit-transform-origin: 0 0;
//    -ms-transform-origin: 0 0;
//    transform-origin: 0 0;
//    background: inherit;
//  }
//
//  .hexTop {
//    top: -61.8718px;
//    border-top: solid 7.0711px #333333;
//    border-right: solid 7.0711px #333333;
//  }
//
//  .hexTop:after {
//    background-position: center top;
//  }
//
//  .hexBottom {
//    bottom: -61.8718px;
//    border-bottom: solid 7.0711px #333333;
//    border-left: solid 7.0711px #333333;
//  }
//
//  .hexBottom:after {
//    background-position: center bottom;
//  }
//
//  .hexagon:after {
//    content: "";
//    position: absolute;
//    top: 2.8868px;
//    left: 0;
//    width: 165.0000px;
//    height: 95.2628px;
//    z-index: 2;
//    background: inherit;
//  }
//}



