.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, .7);
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  @include transition(all .2s ease-out);
  &.active {
    visibility: visible;
    opacity: 1;
    .modal__wrapper {
      margin-top: -150px;// EDIT THIS! BISECT THE -HEIGHT
    }
  }
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;// EDIT THIS!
    height: 300px;// EDIT THIS!
    margin-left: -200px;// EDIT THIS! BISECT THE -WIDTH
    background: #fff;
    @include transition(all .2s ease-out);
    margin-top: -500px;
  }
  &__close {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    border: 2px solid #fff;
    @include border-radius(50%);
    color: #fff;
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    top: -30px;
    right: -30px;
    cursor: pointer;
    border-color: transparent;
    cursor: pointer;
    @include transition(border-color .15s ease-out);
    &:hover {
      border-color: #fff;
    }
  }
  &__inner {

  }
}
.callback-modal {
  &.active {
    .modal__wrapper {
      margin-top: -168px;
    }
  }
  .modal__wrapper {
      position: relative;
      width: 350px;
      height: 202.07px;
      background-color: $darkgrey;
      margin: 101.04px 0 101.04px -150px;
      border-left: solid 5px $green;
      border-right: solid 5px $green;
      z-index: 2;
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 247.49px;
        height: 247.49px;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: inherit;
        left: 46.2563px;
        z-index: -1;
      }
      &:before {
        top: -123.7437px;
        border-top: solid 7.0711px $green;
        border-right: solid 7.0711px $green;
      }

      &:after {
        bottom: -123.7437px;
        border-bottom: solid 7.0711px $green;
        border-left: solid 7.0711px $green;
      }
  }
  .modal__close {
    top: -40px;
    right: -40px;
  }
  .modal__title {
    display: block;
    text-align: center;
    @include rb(26px);
    padding: 0;
    color: $green;
  }
  .modal__input-wrapper {
    width: 100%;
    margin: 5px auto;
  }
  .modal__input {
    padding: 10px 20px;
    display: block;
    font-family: "ArimoRegular";
    font-size: 18px;
    background: transparent;
    color: $green;
    height: 40px;
    line-height: 38px;
    padding: 18px 15px;
    border: 2px solid rgba($green,.7);
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    width: 194px;
    margin: 0 auto;
    @include input-placeholder {
      color: $green;
    }
  }
  .modal__button {
    display: block;
    height: 40px;
    @include rr(22px);
    color: #fff;
    background: transparent;
    border: 1px solid $green;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 194px;
    margin: 20px auto;
    @include transition(color .2s ease-out);
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: $green;
      border-bottom: 2px solid $green;
      top: 0;
      left: 0;
      @include transition(all .2s ease-out);
    }
    &:before {
      content: attr(data-content);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 2;
      top: 0;
      left: 0;
      line-height: 38px;
    }
    &:hover {
      color: $green;
      &:after {
        top: 100%;
      }
    }
    &:active {
      @include box-shadow(0 0 10px 0 rgba(darken($green, 10%), .8) inset);
    }
  }
  .modal__label {
    display: block;
    text-align: center;
    @include rb(15px);
    padding-bottom: 5px;
    color: #fff;
  }
  label.error {
    display: block;
    text-align: center;
    color: $red;
    position: absolute;
    left: 50%;
    width: 100%;
    margin-left: -50%;
  }
}
.response-modal {
  @extend .callback-modal;
  .modal__title {
    padding: 40px 10px 0;
  }
}
