@import "compass/css3";
@import "compass/css3/selection";
@import "reset.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "slick.scss";
@import "slick-theme.scss";
//@import "modals.scss";
$red: #c51335;
$blue: #2fceca;
$green: #00b400;
$yellow: #ffca10;
$darkgrey:#222222;
body{
  @include rb(14px);
}
.wrapper {
  @extend %wrapper;
}
.inner {
  @extend %inner;
}
.header {
  height: 80px;
  padding-top:15px;
  &__wrapper{
    height: 80px;
    @include box-shadow(0 0 10px 10px rgba(#000, .3));
    z-index: 1;
    opacity: .9999;
  }
  &__logo {
    float: left;
  }
  &__link {
    text-decoration: none;
    font-size:24px;
    color: $green;
    display: block;
    &:hover {
      text-decoration: underline;
      color: $green;
    }
  }
  &__phone {
    float: right;
    width: 233px;
    @include rb(13px);
    color: $darkgrey;
    line-height: 22px;
  }
  &__buttonbox{
    float: right;
    width: 175px;
    text-align: center;
    @include rsb(14px);
    &__button {
      display: block;
      width: 100%;
      height: 40px;
      @include rb(18px);
      color: #fff;
      background: $green;
      border: 2px solid $green;
      cursor: pointer;
      text-align: center;
      position: relative;
      overflow: hidden;
      margin-bottom: 5px;
      @include skew(-30deg,0);
      @include transition(color .2s ease-out);
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 110%;
        background: #fff;
        border-bottom: 2px solid $green;
        top: -120%;
        left: 0;
        @include transition(all .2s ease-out);
      }
      &:before {
        content: attr(data-content);
        @include skew(30deg,0);
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 2;
        top:0;
        left: 0;
        line-height: 38px;
      }
      &:hover {
        color: $darkgrey;
        &:after {
          top: 0%;
        }
      }
      &:active {
        @include box-shadow(0 0 10px 0 rgba(darken($red, 10%), .8) inset);
      }
    }
  }
}

.scr-i {
  position: relative;
  height: 600px;
  &__wrapper {
    background: url(../img/bg-1.jpg)no-repeat center;
    background-size: cover;
    text-align: center;
  }
  &__title {
    display: block;
    @include rsb(36px);
    color: #fff;
    padding-top: 55px;
  }
  &__subtitle {
    display: block;
    @include rsb(36px);
    margin: 5px auto;
    background: $green;
    color: #fff;
    width: 444px;
    padding: 2px 0 8px ;
  }
  &__fiches-wrapper {
    margin-top: 85px;
    float: left;
    &-item {
      width: 240px;
      margin: 0 0 30px 50px;
      position: relative;
      height: 60px;
      background: $darkgrey;
      text-align: left;
      color: #fff;
      font-size: 16px;
      padding: 5px 0 5px 40px;
      line-height: 22px;
      &:before{
        position: absolute;
        top: 0;
        left: -30px;
        border-radius: 50%;
        display: block;
        width: 60px;
        height: 60px;
        content: '';
        background: $darkgrey;
      }
      &:after{
        position: absolute;
        top: 13px;
        left: -14px;
        border-radius: 50%;
        display: block;
        width: 32px;
        height: 32px;
        content: '';
        background: url("../img/spmini.png") no-repeat top left;
      }
    }
    &-item:nth-child(2):after{
      background: url("../img/spmini.png") no-repeat top center;
    }
    &-item:nth-child(3):after{
      background: url("../img/spmini.png") no-repeat top right;
    }
  }

  &__form-wrapper {
    width: 300px;
    float: right;
    margin-top: 50px;
    padding-bottom: 20px;
    background: $green;
  }
  &__form-title {
    display: block;
    @include rb(18px);
    color: $darkgrey;
    text-align: center;
    padding: 20px 20px 0;
  }
  &__form-subtitle {
    display: block;
    @include rb(20px);
    color: #fff;
    text-align: center;
    padding: 20px 0 10px;
  }
  &__form-descr {
    color: #fff;
    text-align: center;
    margin-top: 5px;
  }
  &__input-wrapper {
    margin:10px 5px 10px;
    width: 240px;
    display: inline-block;
    position: relative;
    background: #fff;
    padding: 0 20px;
    outline: none;
    border: none;
    @include skew(-30deg,0);
    z-index: 2;
    &--z1 {
      @extend .scr-i__input-wrapper;
      z-index: 1;
    }
    label.error{
      position: absolute;
      font-size: 10px;
      left: 18px;
      color: $red;
      @include skew(30deg,0);
    }
    &:last-child{
      display: block;
      background: transparent;
      width: 100%;
    }
  }
  &__input {
    display: block;
    width: 100%;
    text-align: center;
    @include rb(14px);
    color: $darkgrey;
    height: 40px;
    outline: none;
    border: none;
    @include skew(30deg,0);
    line-height: 38px;
    padding: 0 15px;
    background-color: #fff;
    @include transition(all .2s ease-out);
    @include input-placeholder {
      color: #666666;
      @include rsb(14px);
    }
  }
  &__button {
    display: block;
    width: 240px;
    margin: 0 auto;
    height: 40px;
    @include rb(18px);
    color: #fff;
    background: transparent;
    border: 2px solid $darkgrey;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    @include transition(color .2s ease-out);
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: $darkgrey;
      border-bottom: 2px solid $darkgrey;
      top: 0;
      left: 0;
      @include transition(all .2s ease-out);
    }
    &:before {
      content: attr(data-content);
      position: absolute;
      @include skew(30deg,0);
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 2;
      top: 0;
      left: 0;
      line-height: 38px;
    }
    &:hover {
      color: $darkgrey;
      &:after {
        top: 100%;
      }
    }
    &:active {
      @include box-shadow(0 0 10px 0 rgba(darken($red, 10%), .8) inset);
    }
  }
}

.scr-iii{
  &__wrapper{
    background-color: #e9e9e9;
    padding: 50px 0;
  }
  &__title{
    @include rsb(26px);
    color: $darkgrey;
    display: block;
    text-align: center;
    margin:0 auto 50px;
    span{
      color: $green;
    }
  }
  &__col{
    width: 50%;
    float: left;
    height: 500px;
    .slider1 {
      margin-top: 15px;
      height: 450px;
      .slick-slide{
        height: 450px;
      }
    }
    &--item{
      @include rr(14px);
      height: 96px;
      color: $darkgrey;
      padding: 10px;
      margin-left: 80px;
      position: relative;
      border: 2px solid transparent;
      border-left: none;
      background: #e9e9e9;
      &:before{
        position: absolute;
        top: -3px;
        left:-75px;
        content: '';
        border: 49px solid transparent;
        opacity: 0;
        border-right: 25px solid $green;
      }
      &:after{
        position: absolute;
        top: 0px;
        left:-69px;
        content: '';
        opacity: 0;
        border: 46px solid transparent;
        border-right: 23px solid #e9e9e9;
      }
      @include transition(all .2s ease-out);
      &.active{
        border: 2px solid $green;
        &:before,
        &:after{
          opacity: 1;
        }
      }

      p{
        color: $green;
        margin-bottom: 7px;
        @include rsb(20px);
      }
    }
  }
}

.scr-advantages {
  &__wrapper {
    padding: 50px 0;
    text-align: center;
  }
  &__title {
    @include rsb(26px);
    margin-bottom: 50px;
  }
  &__col{
    float: left;
    width: 29%;
    height: 400px;
    img{
      width: 100%;
      border-radius: 50%;
      padding: 4px;
      margin-top: 40px;
      border: 4px solid #ade7ad;
    }
  }
  &__col:nth-child(3){
    width: 42%;
    padding: 0 5%;
  }
  &__item{
    width: 100%;
    height: 150px;
    &--title{
      width: 100%;
      background: green;
      color: #fff;
      padding: 8px;
      @include rsb(22px);
    }
    &--descr{
      padding: 10px;
      @include rsb(14px);
    }
  }

  &__form{
    &--title{
      @include rb(24px);
      color: #fff;
      width: 542px;
      float: left;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    &__wrapper{
      background: url("../img/greenbgcar.jpg")no-repeat center;
      background-size: cover;
      float: left;
      padding: 45px 0;
      margin: 90px 0 50px;
    }
    &__input-wrapper {
      float: right;
      margin: 10px 100px 10px 5px;
      width: 240px;
      display: inline-block;
      position: relative;
      background: #fff;
      padding: 0 20px;
      outline: none;
      border: none;
      @include skew(-30deg,0);
      label.error{
        @include skew(30deg,0);
        position: absolute;
        font-size: 11px;
        left: 18px;
        color: $red;
      }
    }
    &__input-wrapper:nth-child(3){
      background: transparent;
    }
    &__input {
      @extend .scr-i__input;
      @include transition(all .2s ease-out);
      @include input-placeholder {
        color: #666666;
        @include rsb(14px);
      }
    }
    &__button {
      @extend .scr-i__button;
      margin-left: -20px;
    }
  }
}

.scr-stages{
  &__wrapper{
    background-color: #e9e9e9;
    padding: 50px 0;
    text-align: center;
  }
  &__title{
    @include rsb(26px);
    margin-bottom: 50px;
  }
  &__item{
    float: left;
    width:280px;
    height: 210px;
    background: #fff;
    border: 3px solid $green;
    margin-right: 52px;
    position: relative;
    @include skew(-10deg,0);
    &--image1{
      margin: 40px auto 20px;
      background: url('../img/sprite.png') no-repeat -2px -2px;
      width: 55px;
      height: 51px;
      @include skew(10deg,0);
    }
    &--image2{
      margin: 40px auto 20px;
      background: url('../img/sprite.png') no-repeat -61px -2px;
      width: 52px;
      height: 52px;
      @include skew(10deg,0);
    }
    &--image3{
      margin: 40px auto 20px;
      background: url('../img/sprite.png') no-repeat -2px -58px;
      width: 64px;
      height: 52px;
      @include skew(10deg,0);
    }
    &--title{
      @include rsb(18px);
      @include skew(10deg,0);
    }
    &--subtitle{
      @include rsb(14px);
      @include skew(10deg,0);
      margin-top: 12px;
      color: #0a70a7;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &__item:nth-child(4){
    margin-right: 0;
  }
  &__item:nth-child(2):after,
  &__item:nth-child(3):after{
    position: absolute;
    top: 80px;
    right: -44px;
    width: 26px;
    height: 46px;
    background: url("../img/arrow1.png")no-repeat center;
    content: '';
    @include skew(10deg,0);
  }
}

.scr-sklad {
  &__wrapper {
    background: url("../img/bg-skld.jpg") no-repeat top center;
    background-size: cover;
    padding: 50px 0 100px;
    text-align: center;
  }
  &__title{
    @include rsb(26px);
    margin-bottom: 30px;
    color: #fff;
  }
  &__col {
    float: left;
    width: 65%;
    text-align: center;
    .slider_sklad{
      width: 483px;
      height: 386px;
      margin: 0 auto;
      img{
        border: 3px solid #fff;
        height: 386px;
        border-radius: 3px;
      }
      .slick-prev, .slick-next{
        background: url("../img/arroww.png");
        width: 31px;
        height: 31px;
        top: 57%;
      }
      .slick-prev{
        left: -80px;
        @include rotate(180deg);
      }
      .slick-next{
        right: -50px;
      }
      .slick-dots li{
        margin: 0 3px;
        &.slick-active button:before{
          opacity: 1;
          color: $green;
        }
        button:before{
          opacity: 1;
          color: #fff;
          font-size:60px;
        }
      }
    }
  }
  &__col2 {
    float: left;
    width: 35%;
    text-align: center;
    padding: 0 20px;
  }
  &__radio-wrapper{
    width: 100%;
    height:50px;
    text-align: center;
    margin: 0 auto 15px;
    label{
      width: 55px;
      cursor: pointer;
      height: 60px;
      display: inline-block;
      margin: 5px;
      vertical-align: middle;
      text-align: left;
      content: '';
      background: url("../img/whatsapp.png") no-repeat center;
      background-size: contain;
    }
    [for="viber"]{
      background: url("../img/viber.png") no-repeat center;
      background-size: contain ;
    }
    #whatsapp:checked ~ [for="whatsapp"] {
      background: rgba(#000,.3) url("../img/whatsapp.png") no-repeat center;
      box-shadow: 0 0 10px rgba(#000,.5),
    }
    #viber:checked ~ [for="viber"] {
      background: rgba(#000,.3) url("../img/viber.png") no-repeat center;
      box-shadow: 0 0 10px rgba(#000,.5),
    }
  }
  &__radio{
    display: none;
  }
  &__form{
    &__wrapper{
      margin: 60px auto 0;
      width: 300px;
      background: $green;
      padding:30px 0;
    }
    &__title{
      @include rsb(18px);
      color: #fff;
      margin-bottom: 20px;
    }
    &__subtitle{
      @include rsb(14px);
      color: #fff;
      margin-bottom: 10px;
    }
    &__input-wrapper {
      @extend .scr-i__input-wrapper;
      width: 70%;
      margin: 10px auto;
      label.error{
        position: absolute;
        font-size: 12px;
        left: 18px;
        color: $red;
      }
    }
    &__input {
      @extend .scr-i__input;
      @include transition(all .2s ease-out);
      @include input-placeholder {
        color: #666666;
        @include rsb(14px);
      }
    }
    &__button {
      @extend .scr-i__button;
      width: 213px;
    }
  }
}

.scr-map {
  &__wrapper {
    padding: 50px 0;
    text-align: center;
  }
  &__col {
    float: left;
    width: 50%;
    text-align: center;
    img {
      width: 100%;
    }
  }
  &__col2 {
    float: left;
    width: 50%;
    text-align: center;
    padding: 0 20px;
    img {
      //width: 100%;
    }
  }
  &__descr {
    padding: 10px;
    @include rsb(19px);
    color: #fff;
    background: #000;
    width: 445px;
    margin-top:88px;
    margin-bottom: 30px;
  }
}


.scr-package{
  &__wrapper{
    background-color: #e9e9e9;
    padding: 50px 0;
    text-align: center;
  }
  &__title{
    @include rsb(26px);
    margin-bottom: 10px;
  }
  &__subtitle{
    color: $green;
    @include rsb(18px);
    margin-bottom: 30px;
  }
  &__img{
    width: 275px;
    height: 275px;
    margin: 0 14px 50px;
    padding: 4px;
    border: 4px solid $green;
    border-radius: 50%;
  }
  &__item{
    float: left;
    width:33%;
    padding: 0 15px;
    &--image1{
      margin: 40px auto 20px;
      background: url('../img/sprite.png') no-repeat -70px -58px;
      width: 40px;
      height: 54px;
    }
    &--image2{
      margin: 40px auto 20px;
      background: url('../img/sprite.png') no-repeat -114px -62px;
      width: 41px;
      height: 54px;
    }
    &--image3{
      margin: 40px auto 20px;
      background: url('../img/sprite.png') no-repeat -117px -2px;
      width: 66px;
      height: 56px;
    }
    &--title{
      @include rsb(16px);
    }
  }
}




.scr-sto{
  &__wrapper{
    background-color: #e9e9e9;
    padding: 50px 0;
    text-align: center;
  }
  &__title{
    @include rsb(26px);
    margin-bottom: 10px;
  }
  &__subtitle{
    color: $green;
    @include rsb(18px);
    margin-bottom: 30px;
  }
  &__img{
    width: 275px;
    height: 275px;
    margin: 0 14px 50px;
    padding: 4px;
    border: 4px solid $green;
    border-radius: 50%;
  }
}






.scr-takeInfo{
  &__wrapper{
    background-color: $green;
    padding: 50px 0;
    text-align: center;
  }
  &__title{
    @include rb(24px);
    color: #fff;
    width: 542px;
    float: left;
    margin-top:20px;
  }
  &__form{
    &__wrapper{
      float: right;
    }
    &__input-wrapper {
      @extend .scr-i__input-wrapper;
      label.error{
        position: absolute;
        font-size: 12px;
        left: 18px;
        color: $red;
      }
    }
    &__input {
      @extend .scr-i__input;
      @include transition(all .2s ease-out);
      @include input-placeholder {
        color: #666666;
        @include rsb(14px);
      }
    }
    &__button {
      @extend .scr-i__button;
    }
  }
}
//
//.scr-accessories {
//  &__wrapper {
//    text-align: center;
//    padding: 60px 0 60px;
//  }
//  &__title {
//    @include rsb(26px);
//    margin-bottom: 50px;
//  }
//  &__item{
//    border:2px solid $green;
//    float: left;
//    width: 22%;
//    margin: 0 1%;
//    img{
//      width: 100%;
//    }
//    &--title{
//      margin: 20px 0 0;
//      height: 40px;
//    }
//    &--price{
//      background: #cccccc;
//      width: 140px;
//      margin: 10px auto;
//      @include skew(-30deg,0);
//      padding: 5px;
//      p{
//        @include skew(30deg,0);
//      }
//    }
//    &--green_button{
//      background: $green;
//      width: 155px;
//      margin: 15px auto;
//      @include skew(-30deg,0);
//      padding: 7px;
//      cursor: pointer;
//      p{
//        color: #fff;
//        font-size: 18px;
//        @include skew(30deg,0);
//      }
//    }
//    &__last_one{
//      @include rsb(14px);
//    }
//  }
//}



.scr-question{
  &__wrapper{
    text-align: center;
    padding: 60px 0 60px;
    background: url("../img/bg-last.jpg") no-repeat center;
    background-size: cover;
  }
  &__title{
    @include rb(30px);
    color: #fff;
    margin-bottom: 50px;
  }
  &__link{
    img{
      display: inline-block;
      vertical-align: middle;
    }
    a{
      display: inline-block;
      vertical-align: middle;
      color: $green;
    }
  }
  &__form{
    width: 390px;
    padding: 20px 60px;
    margin:  0 auto;
    background-color: rgba($green,.9);
    &-title{
      @include rsb(18px);
      color: #000;
      margin-bottom: 10px;
    }
    &-subtitle{
      @include rsb(20px);
      color: #fff;
      margin-bottom: 10px;
    }
    &-descr{
      @include rsb(14px);
      color: #fff;
      margin-bottom: 10px;
    }
    &-input-wrapper {
      @extend .scr-i__input-wrapper;
      label.error{
        position: absolute;
        font-size: 11px;
        left: 18px;
        color: $red;
      }
    }
    &-input-wrapper:nth-child(4) {
      background: transparent;
    }
    &-input {
      @extend .scr-i__input;
      @include transition(all .2s ease-out);
      @include input-placeholder {
        color: #666666;
        @include rsb(14px);
      }
    }
    &-button {
      @extend .scr-i__button;
      margin-left: -20px;
    }
  }
}































.tabs {
  position: relative;
  margin-top: 40px;
}
.tabs-nav {
  width:  100%;
  margin: 0 auto;
  @include clearfix;
  z-index: 1;
  background: #fff;
  ul{
    font-size: 0;
  }
  &__item {
    display: inline-block;
    width: 20%;
    height: 40px;
    @include rr(22px);
    color: $green;
    background: $darkgrey;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    @include transition(color .1s ease-out);
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: $green;
      bottom: -100%;
      left: 0;
      @include transition(all .1s ease-out);
    }
    &:before {
      content: attr(data-content);
      position: absolute;
      width: 100%;
      height: 40px;
      text-align: center;
      font-size: 1em;
      z-index: 2;
      top: 0;
      left: 0;
      line-height: 38px;
      color: #fff;
    }
    &:hover:after {
      bottom: -90%;
    }
    &:active:after {
      bottom: 0;
    }
  }
  &__item.active{
    &:after{
      bottom:0;
    }
    &:before{
      color: #fff;
    }
  }
}
#tabs2 .tabs-nav__item{
  width: 25%;
  font-size: 20px;
}
.tabs-content {
  position: relative;
  width: 100%;
  margin-bottom: 80px;
  height: 522px;
  &__item {
    @include clearfix;
    display: none;
    &.active {
      display: block;
    }
  }
    .flipster__nav {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      z-index: 1;
      &__item {
        &--category {
          background: rgba(#fff, .7);
          border-bottom: 4px solid #fff;
          margin: 0;
          img {
            width: 70px;
          }
        }
        &--current {
          border-bottom: 4px solid $green;
        }
      }
      &__child{
        .flipster__nav__link::after{
          background: transparent;
        }
        .flipster__nav__item--current{
          border-bottom: none;
        }
      }
    }

  .descr-box{
    background: rgba(#fff,.8);
    position: absolute;
    bottom: -115px;
    right: 0;
    left: 0;
    padding: 15px 50px;
    height: 115px;
    //&__title{
    //  font-size: 20px;
    //  color: $green;
    //  margin: 110px auto 30px;
    //}
    &__delineation{
      float: left;
      line-height: 22px;
      @include rr(16px);
      strong{
        @include rb(16px);
      }
    }
    &__old-price{
      color: #cccccc;
      text-decoration: line-through;
      line-height: 80px;
      font-size: 18px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 80px;
    }
    &__new-price{
      margin-left:20px;
      display: inline-block;
      vertical-align: middle;
      background: #cccccc;
      width: 170px;
      @include skew(-30deg,0);
      padding: 5px;
      p{
        @include skew(30deg,0);
        font-size: 20px;
        text-align: center;
      }
    }
    &__buy{
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      margin-left: 40px;
    }
    &__green_button{
      background: $green;
      width: 220px;
      margin: 0 auto;
      @include skew(-30deg,0);
      padding: 7px;
      cursor: pointer;
      p{
        color: #fff;
        font-size: 18px;
        @include skew(30deg,0);
      }
    }
    &__last_one{
      @include rsb(14px);
    }
  }
}
.tab {
  @include clearfix;
}


//.owl-img.owl-carousel{
//  .lazyOwl{
//    width: 100%;
//  }
//}
//.owl-img-preview{
//  width: 80% !important;
//  margin: -140px auto 0 auto;
//  img{
//    width: 100px;
//    height: 100px;
//    border: 9px solid rgba($blue, .7);
//    margin: 0 auto;
//    @include border-radius(50%);
//    overflow: hidden;
//    cursor: pointer;
//  }
//  p{
//    display: block;
//    text-align: center;
//    @include rb(14px);
//    color: #fff;
//    padding-bottom: 5px;
//  }
//  .prev{
//    text-align: center;
//  }
//}
//.owl-controls .owl-page, .owl-controls .owl-buttons div{
//  background: url("../img/arrow.png") no-repeat  ;
//  width:30px;
//  height: 60px;
//  position: absolute;
//  bottom:60px;
//  z-index: 5;
//  left: 60px;
//}
//.owl-next{
//  right: 60px;
//  left: auto !important;
//  @include transform(rotate(-180deg));
//}


//
//.scr-vi{
//  &__wrapper{
//    width: 100%;
//    overflow: hidden;
//  }
//  &__rotate{
//    margin: 7% -20% 0 -20%;
//    padding: 0 20%;
//    width: 140%;
//    @include transform(rotate(-7deg));
//    background: $blue;
//  }
//  &__inner{
//     @include transform(rotate(7deg));
//   }
//  &__title{
//    //@extend .scr-iii__title;
//    color: #fff;
//    padding-bottom: 35px;
//  }
//  &__videoframe{
//    display: block;
//    margin: 0 auto 90px;
//  }
//}

@media screen and (max-width: 1070px) {
  .tabs-nav__item {
    font-size: 1vw;
    height: 50px;
  }
  #tabs2 .tabs-nav__item{
    font-size:0.8vw;
  }
}

@import "modals.scss";
@import "ui.scss";
@import "preloader.scss";
